.App {
  display: flex;
  justify-content: center;  
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: grey;
  margin: 10%;
  border-radius: 5%;
  border: 3px solid black;
  box-shadow: 0px 5px 5px #252525;
}

.calculator > * {
  border: 1px solid black;
  padding: 10px;
  margin: 4px;
}

.row {
  grid-column: 1 / -1;
}

#clear{
  text-align: center;
  border-radius: 5%;
  color: white;
}

#display{
  text-align: right;
  background-color: white;
  border-radius: 5%;
}

.btn{
  border-radius: 25%;
  background-color: #252525;
  text-align: center;
  color: white;
}

.op{
  background-color: #222699;
}

.conf {
  background-color: #175716;
}